
<body>


    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->
    
    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>
                        Bem Vindo a Epic Arts Entertainment</h1>
                        <h1>Uma Empresa de <span class="typing-text"></span></h1>
                        <p>Especialista em Criação de Jogos, Design de Personagens envolventes, com habilidade em narrativas cativantes e mecânicas inovadoras</p>
                        <a href="#about" class="btn">Sobre Nós <i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="~/images/Logo/EA GIF.gif" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->


    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/Logo/Home1.png" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Nos somos Epic Arts Entertainment.</h2>
                <p>Um studio Freelancer de Desenvolvimento de Jogos Criativo com mais de 4 anos de experiência na criação de experiências de jogos envolventes e emocionantes para diversos tipos de plataformas e públicos.</p>

                <div class="about-info">

                    <div class="info">
                        <h4>Fundação: <span>2030</span></h4>
                        <h4>Localização: <span>Brasil</span></h4>
                        <h4>linguagem: <span>Portugues Brasileiro</span></h4>
                        <h4>Area de Trabalho: <span>Desenvolvimento de Jogos</span></h4>
                        <h4>freelance: <span>Disponivel</span></h4>
                        <a href="#" class="btn">Baixar Curriculo<i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="4">4+</h1>
                            <h3>Anos de Experiencia</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="35">100+</h1>
                            <h3>projetos Completados</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="412799">800k+</h1>
                            <h3>Clientes Satisfeitos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="24">24+</h1>
                            <h3>Premiações Na Area</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>Minhas <span>Habilidades</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>Unity<span> 90% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Unreal Engine<span> 85% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Blender<span> 80% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>Photoshop<span> 75% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Maya<span> 70% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Substance Painter<span> 75% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- About Area (End) -------------------->


    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>Nossas <span>qualificações </span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2028 - 2045</span>
                        <h3>Desenvolvimento de Jogos</h3>
                        <p>Desenvolvemos jogos personalizados para diversas plataformas, atendendo às necessidades específicas de nossos clientes e entregando produtos de alta qualidade.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2028 - 2045</span>
                        <h3>Design de Personagens e Ambientes</h3>
                        <p>Desenvolvemos personagens e ambientes 3D de alta qualidade utilizando Blender e Maya, criando visuais envolventes e criativos.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2028 - 2045</span>
                        <h3>Suporte e Manutenção de jogos e Console</h3>
                        <p>Fornecemos suporte contínuo e manutenção para jogos online e offline, Consoles e garantindo a estabilidade e satisfação do usuário.</p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2028 - 2045</span>
                        <h3>Teste e Garantia de Qualidade (QA)</h3>
                        <p>Realizamos testes abrangentes e rigorosos para identificar e corrigir bugs, garantindo que os jogos funcionem perfeitamente e proporcionem uma excelente experiência ao jogador.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2028 - 2045</span>
                        <h3>Criação de Roteiros e Narrativas</h3>
                        <p>Desenvolvemos roteiros e narrativas envolventes para jogos, criando histórias que capturam a imaginação dos jogadores e aumentam o engajamento.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2028 - 2045</span>
                        <h3>Marketing e Lançamento de Jogos</h3>
                        <p>Oferecemos serviços de marketing e lançamento de jogos, ajudando a planejar e executar estratégias de lançamento bem-sucedidas para alcançar o público-alvo e maximizar a visibilidade do jogo.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-------------------- Qualification Area (End) -------------------->


    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>Nossos <span>serviços </span></h2>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <h3>Desenvolvimento de Jogos</h3>
                <p>
                    Unreal Engine 5<br>
                    Unity<br>
                    Flash
                </p>
                <br />
                <button id="agendar-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agendar</button>


            </div>

            <div class="service-item">
                <i class="fas fa-paint-brush"></i>
                <h3>Design De Personagens E Ambientes</h3>
                <p>
                    Adobe Fuse CC<br>
                    Daz3D<br>
                    Maya
                </p>
                <br />
                <button id="agendar-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agendar</button>
            </div>

            <div class="service-item">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <h3>Teste E Garantia De Qualidade (QA)</h3>
                <p>
                    Testes de Unidade<br>
                    Testes de Integração<br>
                    Testes Funcionais
                </p>
                <br />
                <button id="agendar-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agendar</button>
            </div>

            <div class="service-item">
                <i class="fas fa-bullhorn"></i>
                <h3>Suporte e manutenção De jogos e Console</h3>
                <p>
                    Problemas de Conexão<br>
                    Reportar Cheater<br>
                    Falar com o Suporte
                </p>
                <br />
                <button id="agendar-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agendar</button>
            </div>

            <div class="service-item">
                <img src="~/images/Service/Bloco de notas.png" alt="image">
                <h3>Criação de Roteiro e Narrativas</h3>
                <p>
                    Microsoft Word<br>
                    Notepad<br>
                    Bloco de Notas
                </p>
                <br />
                <button id="agendar-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agendar</button>
            </div>

            <div class="service-item">
                <i class="fas fa-search-dollar"></i>
                <h3>Marketing E Lançamento de Jogos</h3>
                <p>
                    VGS (Video Game Show)<br>
                    E3<br>
                    Anuncios Yt, insta, google
                </p>
                <br />
                <button id="agendar-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agendar</button>
            </div>

        </div>

    </section>
    <!-------------------- Services Area (End) -------------------->


    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2>Nosso <span>portfolio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">Todos</li>
                <li class="button btn" data-filter="jogos">Desenvolvimento de Jogos</li>
                <li class="button btn" data-filter="design">Design De Personagens e Ambientes</li>
                <li class="button btn" data-filter="teste">Teste E Garantia de Qualidade (QA)</li>
                <li class="button btn" data-filter="manutencao">Suporte e Manutenção De Jogos e Console</li>
                <li class="button btn" data-filter="criacao">Criação de Roteiro e Narrativas</li>
                <li class="button btn" data-filter="marketing">Marketing e Lançamento de Jogos</li>
            </ul>

            <div class="box-container">

                <div class="portfolio-item image jogos">
                    <img src="~/images/Portfolio/Jogos.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Jogos</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/Jogos.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/Design 600x400.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Design</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/Design 600x400.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image teste">
                    <img src="~/images/Portfolio/Jmeter 600x400.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Teste Qualidade</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/Jmeter 600x400.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image manutencao">
                    <img src="~/images/Portfolio/Manutenção jogos 600x400.jpeg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Manutenção</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/Manutenção jogos 600x400.jpeg" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image criacao">
                    <img src="~/images/Portfolio/roteiro.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Roteiro</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/roteiro.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image marketing">
                    <img src="~/images/Portfolio/marketing 600x400.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Marketing</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/marketing 600x400.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->


    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Depoimentos</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Critico_1.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O desenvolvimento de jogos aqui é simplesmente fenomenal! Cada detalhe é cuidadosamente pensado e implementado, resultando em experiências de jogo envolventes e inovadoras.
                    </p>

                    <div class="intro">
                        <h3>Carlos Ferreira</h3>
                        <h5>Critico de Jogos</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Artista-3D.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Os designs de personagens e ambientes são impressionantes. A equipe tem um talento incrível para criar mundos visualmente deslumbrantes e personagens memoráveis.
                    </p>

                    <div class="intro">
                        <h3>Ana souza</h3>
                        <h5>Artista 3D Freelancer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Desenvolvedor.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O suporte e manutenção oferecidos são de primeira linha. Sempre que tenho um problema, a equipe responde rapidamente e resolve com eficiência.
                    </p>

                    <div class="intro">
                        <h3>Alice Almeida</h3>
                        <h5>Desenvolvedor Independente</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Escritora.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        A criação de roteiros e narrativas é espetacular. Cada história é única e cativante, mantendo os jogadores engajados do início ao fim da historia.
                    </p><br><br>

                    <div class="intro">
                        <h3>Mariana Santos</h3>
                        <h5>Escritora de Ficção Interativa</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Consultor_1.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O marketing e lançamento de jogos aqui são excepcionais. Eles sabem exatamente como alcançar o público-alvo e garantir um lançamento bem-sucedido.
                    </p>

                    <div class="intro">
                        <h3>Amanda Silva</h3>
                        <h5>Consultor de Marketing de Jogos</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Gerente.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Os testes de qualidade são rigorosos e detalhados, garantindo que cada jogo lançado esteja livre de bugs e ofereça uma experiência de jogo suave e agradável.
                    </p>

                    <div class="intro">
                        <h3>Mike Cohn</h3>
                        <h5>Gerente de Projeto de Software</h5>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->


    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2>Nossas <span>Noticias</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Jogos de videogame.webp" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>17/06/2024 14:05</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por Marx Walker</span></h5>
                        </div>
                        <a class="main-heading" href="https://observatoriodegames.uol.com.br/colunas/assunto-nerd/jogos-de-videogame-potencializando-a-neuroplasticidade-e-o-desenvolvimento-cognitivo">Jogos de videogame: Potencializando a neuroplasticidade e o desenvolvimento cognitivo</a>
                        <p>
                            A relação entre jogos de videogame e o desenvolvimento cognitivo tem sido objeto de um crescente corpo de pesquisas neurocientíficas.
                        </p><br><br><br><br><br><br><br>
                        <a href="https://observatoriodegames.uol.com.br/colunas/assunto-nerd/jogos-de-videogame-potencializando-a-neuroplasticidade-e-o-desenvolvimento-cognitivo" class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Design.jpeg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>15/03/2024 16:19</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por Durval Ramos</span></h5>
                        </div>
                        <a class="main-heading" href="https://canaltech.com.br/games/acao-propoe-o-design-perfeito-de-personagens-femininas-em-jogos-282543/">Brasileiras propõem o design perfeito de personagens femininas em jogos</a>
                        <p>
                            Qual seria o visual ideal para representar uma personagem feminina nos videogames? A discussão sobre o modo como os jogos mostram as mulheres é antiga, mas uma iniciativa da KaBuM! tirou o debate do papel e apresentou um design de como deveria ser o uniforme de uma heroína cujo foco é o conforto e a performance ao invés da sexualização.
                        </p><br>
                        <a href="https://canaltech.com.br/games/acao-propoe-o-design-perfeito-de-personagens-femininas-em-jogos-282543/" class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Teste.jpeg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>29/11/2023 19:34</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por Gabriela Rodrigues</span></h5>
                        </div>
                        <a class="main-heading" href="">Pesquisa sobre falhas em testes de softwares é premiada em conferência internacional</a>
                        <p>
                            O professor de Informática e Sistemas de Informação do Ifal Maceió Elvys Soares teve artigo premiado como o melhor atigo da conferência sobre engenharia de software experimental International Symposium on Empirical Software Engineering and Measurement (ESEM), o mais importantes do mundo na área, realizado na cidade de Nova Orleans (EUA).
                        </p><br>
                        <a href="#" class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Suporte.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>05/03/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por Victor Hugo Silva</span></h5>
                        </div>
                        <a class="main-heading" href="https://tecnoblog.net/noticias/sony-playstation-2-fim-suporte/">Sony deixa de oferecer suporte ao PlayStation 2</a>
                        <p>
                            Este momento parece que não chegaria nunca, mas enfim aconteceu: a Sony encerrou o suporte para o PlayStation 2. Depois de 18 anos, a empresa afirmou que não poderá mais ajudar os usuários com reparos no console mais vendido da história.
                            O suporte do PS2 foi encerrado na sexta-feira (31), data limite para que os formulários de manutenção do aparelho fossem enviados. A Sony se comprometeu a atender os aparelhos que forem recebidos até o dia 7 de setembro.
                        </p><br>
                        <a href="https://tecnoblog.net/noticias/sony-playstation-2-fim-suporte/" class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Roteiro.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>05/03/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por Ricardo Syozi</span></h5>
                        </div>
                        <a class="main-heading" href="https://tecnoblog.net/noticias/desenvolvedores-estao-usando-o-chatgpt-para-melhorar-a-historia-dos-games/">Desenvolvedores estão usando o ChatGPT para melhorar a história dos games</a>
                        <p>
                            Segundo informações de discussões no LinkedIn, diversos profissionais da área de games relataram que estão usando o ChatGPT para auxiliar no processo de criação dos jogos. Ao que tudo indica, o uso mais comum é no que se refere à parte narrativa, com reviravoltas e diálogos de personagens fazendo uso da inteligência artificial.
                        </p><br><br>
                        <a href="https://tecnoblog.net/noticias/desenvolvedores-estao-usando-o-chatgpt-para-melhorar-a-historia-dos-games/" class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Marketing.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>03/05/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por Jorge Henrique</span></h5>
                        </div>
                        <a class="main-heading" href="https://windowsclub.com.br/hellblade-2-microsoft-anuncia-campanha-de-marketing-gigante-veja-como-ira-funcionar/">Hellblade 2: Microsoft anuncia campanha de marketing gigante, veja como irá funcionar</a>
                        <p>
                            A Activision Blizzard é mestre em realizar campanhas de marketing para seus jogos, mas a Microsoft seguirá este caminho? Muitos estavam se perguntando onde estariam o material promocional de Hellblade 2, que será lançado em alguns dias, e aqui temos a resposta.
                        </p><br><br><br><br>
                        <a href="https://windowsclub.com.br/hellblade-2-microsoft-anuncia-campanha-de-marketing-gigante-veja-como-ira-funcionar/" class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->


    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>Contate-</span>Nos</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>Entrar em Contato</h3>

                <p>Estamos entusiasmados para criar novos mundos e dar vida a personagens envolventes</p>

                <div class="info-item">
                    <h4>Telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>(61) 93480-3832</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>(61) 92454-8644</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">shengli9290@uorak.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">ovidio5149@uorak.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="nome" required />
                <input type="email" name="email" class="box" id="email" placeholder="email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="assunto" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="mensagem"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">Enviar Mensagem</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->
    <!-------------------- Footer Area (Start) -------------------->
    <footer>
        <div class="social">
            <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
            <a href="https://x.com/?lang=pt-br" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
            <a href="https://www.linkedin.com/home" class="fab fa-linkedin-in"></a>
        </div>

        <div class="content">
            <p>created by <span>AS_Designs</span> | all rights reserved</p>
        </div>
    </footer>
    <!-------------------- Footer Area (End) -------------------->
    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>

    <!---------------- Custom Script ---------------->
    <!-- Typed Script -->
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['Desenvolvimento de Jogos Personalizados', 'Design de Personagens e Ambientes', 'Testes e Garantia de Qualidade (QA)', 'Suporte e Manutenção de Jogos e Consoles', 'Criação de Roteiro e Narrativa', 'Marketing e Lançamento de Jogos'],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: '~/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>

    <!--SubMenu-->
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>

</body>
