﻿ /*--------------------- 0- Global CSS (Start) ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --red: #ac0404;
    --black: #F7F5F2;
    --white: #000000;
    --grey: #222222;
}

/* Estilo para o overlay (fundo escuro) */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor escura com transparência */
    z-index: 9998; /* Colocar abaixo do loader */
    display: none; /* Inicialmente escondido */
}

/* Estilo para o loader */
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro para o loader */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999; /* Colocar acima do overlay */
    display: none; /* Inicialmente escondido */
}