:root {
    --purple: #db22ac;
    --black: #000000;
    --white: #878788;
    --grey: #DFDFDE;
    --red: #db22ac;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--black);
    color: var(--white);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--black);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px var(--red);
    z-index: 1;
    padding: 8px;
    border-radius: 3%;
    right: -50px; /* Alinha o submenu mais à direita */
}

.dropdown-content a {
    color: var(--white);
    padding: 7px; /* Adiciona padding */
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 5px; /* Adiciona a margem */
    border-radius: 30% !important;
}

    .dropdown-content a:hover {
        background-color: #db22ac !important; /* Muda a cor do fundo para vermelho ao passar o mouse */
        color: #000000 !important; /* Muda a cor da letra para preto ao passar o mouse */
        border: var(--red) solid 2px;
        border-radius: 3%;
        text-decoration: none !important;
    }

.dropdown-content a:hover .fa {
    color: var(--black) !important; /* Muda a cor do ícone para preto ao passar o mouse */
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
