@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


:root {
    --red: #db22ac;
    --black: #000000;
    --white: #000000;
    --grey: #000000;
    --purple: #db22ac;
    --cinza: #575757;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--black);
}

html {
    min-height: 100vh;
}
main{
    min-height: calc(100vh - 100px);
}

h1,
h2,
h3,
h4,
h5,
h6,
.bem-vindo{
    color: var(--red) ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: underline !important;
    color: var(--purple) !important;
}

p, td,th {
    color: var(--purple);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--purple);
    border-radius: 50px;
}

input:focus, select:focus{
    outline: 4px solid var(--red) !important;
}
select option:hover{
    background-color: var(--grey);
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 3.5em 0 2em 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    /* padding-bottom: 30px; *
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    position: relative;
    color: var(--red);
}

.modal-header, .modal-footer {
    background-color: #000000;
}

.custom-height {
    background-color: var(--black) !important;
    margin-top: 2.5em !important;
    border-radius: 8px !important;
    box-shadow: 2px 0 10px -2px #db22ac !important;
    height: 845px !important;
    overflow: hidden !important;
}

.servico-height {
    background-color: var(--black) !important;
    margin-top: 2.5em !important;
    border-radius: 8px !important;
    box-shadow: 2px 0 10px -2px #db22ac !important;
    height: 750px !important;
    overflow: hidden !important;
}

.cadastro-height {
    background-color: var(--black) !important;
    margin-top: 2.5em !important;
    border-radius: 8px !important;
    box-shadow: 2px 0 10px -2px #db22ac !important;
    height: 800px !important;
    overflow: hidden !important;
}

.clienteagendamento-height {
    background-color: var(--black) !important;
    margin-top: 2.5em !important;
    border-radius: 8px !important;
    box-shadow: 2px 0 10px -2px #db22ac !important;
    overflow: hidden !important;
}

#send-button2 {
    z-index: 9999 !important; /* Força a prioridade do z-index */
}

.modal-header h1{
    color: var(--black);
}
.modal-body{
    background-color: var(--black);
}

footer {
    max-height: 85px;
    padding-top: .8em;
}

#send-button3 {
    position: relative !important;
    top: -54px !important; /* Move o botão 15px para cima */
}


.page-maneger {
    background-color: var(--black);
    margin-top: 2.5em;
    border-radius: 8px;
    box-shadow: 2px 0 10px -2px var(--red);
    height: 750px;
    overflow: hidden;
}

.agendamento-height {
    background-color: var(--black) !important;
    margin-top: 2.5em !important;
    border-radius: 8px !important;
    box-shadow: 2px 0 10px -2px var(--red) !important;
    height: 780px !important;
    overflow: hidden !important;
}

label {
    color: var(--red);
}

/*--------------------------------------------------------------
# Botão voltar e botoes normais
--------------------------------------------------------------*/
button{
    background-color: #db22ac !important;
    border: none !important;
    color: var(--black) !important;
    transition: .5s;
}

button:hover{
    background-color: var(--black) !important;
    color: var(--purple) !important;
    border: 1px solid var(--purple) !important;
}

.btn-close-custom {
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: 1px solid #ccc; /* Borda para melhor visibilidade */
    border-radius: 0.25rem; /* Bordas arredondadas */
    opacity: 1; /* Garante que não seja transparente */
    padding: 0.5rem; /* Espaçamento interno */
}

.btn-close-custom:hover {
        background-color: #f0f0f0; /* Cor ao passar o mouse */
        border-color: #999; /* Cor da borda ao passar o mouse */
}


/*Cliente Botao adicionar*/
.adicionar-agendamento-cliente-btn {
    background-color: #DB22AC; /* Cor de fundo personalizada */
    color: black !important; /* Cor do texto branca com !important */
    border-color: #DB22AC; /* Cor da borda personalizada */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 12px 24px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho da fonte */
    text-transform: uppercase; /* Transformar o texto em maiúsculas */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para fundo e cor do texto */
}

    .adicionar-agendamento-cliente-btn:hover {
        background-color: black; /* Cor de fundo quando o mouse passar por cima */
        color: #DB22AC !important; /* Cor do texto rosa (#DB22AC) quando o mouse passar por cima */
        border-color: #db22ac; /* Cor da borda quando o mouse passar por cima */
    }

    /* Para garantir que o ícone dentro do botão não fique deslocado */
    .adicionar-agendamento-cliente-btn i {
        margin-right: 8px;
    }