@{
    Layout = "~/Views/Shared/_Layout_Gerenciamento.cshtml";
}

<body>
    <header class="container">
        <h1 class="section-title">
            <a href="/Home/Index"><img src="~/images/Logo/Logo.png" alt="About-Image" style="width: 100px; height: 100px; "></a>
        </h1>
    </header>


    <section class="maneger-page-section">
        <div class="container page-maneger">

            <div class="add-user-button">
                <br>
                <h1 class="section-title cliente-title-maneger">Gerenciamento de Agendamento</h1>
                <br>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <input id="filtro" type="text" class="form-control" placeholder="Pesquisar Produtos..." aria-label="Filtrar" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- Alteração para "text-md-end" para alinhar à direita apenas em telas médias e maiores -->
                        <button class="btn btn-danger btn-lg" onclick="" data-bs-toggle="modal" data-bs-target="#InserirAgendamento">
                            <i class="fa fa-plus"></i> Adicionar Agendamento
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-container table-responsive">
                <table id="TbClientes" class="table">
                    <colgroup>
                        <col class="tc-nome">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Agendamento para a Data</th>
                            <th>Horario</th>
                            <th>Serviço</th>
                            <th>Valor</th>
                            <th>Confirmação</th>
                            <th class="editar">Editar</th>
                            <th class="excluir">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Id</td>
                            <td>Nome</td>
                            <td>Email</td>
                            <td>Telefone</td>
                            <td>AgendarData</td>
                            <td>Horario</td>
                            <td>Servico</td>
                            <td>Valor</td>
                            <td>Confirmacao</td>

                            <td class="text-center">
                                <button class="btn btn-default" onclick="definirEdt('Id','Nome', 'Email', 'Telefone', 'AgendarData','Horario', 'Servico', 'Valor', 'Confirmacao')" data-bs-toggle="modal" data-bs-target="#EditarAgendamento">
                                    <i class="fa fa-edit" style="color: #F7F5F2;"></i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-default" onclick="definirExc('Id','Nome', 'Email', 'Telefone', 'AgendarData','Horario', 'Servico', 'Valor', 'Confirmacao')" data-bs-toggle="modal" data-bs-target="#ExcluirAgendamento">
                                    <i class="fa fa-trash" style="color: #e61616;"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <div class="modal fade" id="ExcluirAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Excluir Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="ExcNome" class="form-control" placeholder="Digite seu nome...">

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="ExcEmail" class="form-control" placeholder="Digite seu email...">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite seu telefone...">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Data de Agendamento</label>
                                <input type="date" id="ExcAgendarData" class="form-control" placeholder="01/01/2000">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Horario</label>
                                <input type="text" id="ExcHorario" class="form-control" placeholder="08:00">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Servico</label>
                                <input type="text" id="ExcServico" class="form-control" placeholder="Digite seu telefone...">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Valor</label>
                                <input type="text" id="ExcVal" class="form-control" placeholder="R$ 100,00">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Confirmação</label>
                                <input type="text" id="ExcConf" class="form-control" placeholder="Confirmado">

                            </div>

                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger" onclick="ExcluirAgendamentoo()">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80vh;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Adicionar Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="hidden" id="TxtId" class="form-check-input" value="10:00" style="margin-right: 10px;" disabled>
                            </div>

                            <!-- Adicione o atributo data-group para cada grupo de checkboxes -->
                            <div class="mb-3 d-flex align-items-center">
                                <label for="frutas">Escolha uma data:</label>
                                <input id="data_agdt" type="date" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamento();consultarAgendamentoManutencao()">
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <label for="frutas">Escolha um serviço:</label>
                                <select id="frutas" name="frutas">
                                    <option value="laranja">Desenvolver Jogos</option>
                                    <option value="banana">Design de personagens e ambientes</option>
                                    <option value="maça" selected>Teste de Qualidade e Garantia</option>
                                    <option value="uva">Criação de Roteiro e Narrativa</option>
                                    <option value="melancia">Marketing e Lançamento de Jogos</option>
                                    <option value="melancia">Suporte e Manutenção de Jogos e Consoles</option>
                                </select>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="options" id="chk08" class="form-check-input" value="08:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk08">Atendimento das 8:00</label>
                                <span id="Span08" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="options" id="chk10" class="form-check-input" value="10:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk10">Atendimento das 10:00</label>
                                <span id="Span10" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="options" id="chk13" class="form-check-input" value="13:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk13">Atendimento das 13:00</label>
                                <span id="Span13" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="options" id="chk15" class="form-check-input" value="15:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk15">Atendimento das 15:00</label>
                                <span id="Span15" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="options" id="chk17" class="form-check-input" value="17:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk17">Atendimento das 17:00</label>
                                <span id="Span17" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="options" id="chk19" class="form-check-input" value="19:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk19">Atendimento das 19:00</label>
                                <span id="Span19" style="color:red;"></span>
                            </div>

                            <input type="hidden" id="IdEdt" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="InserirAgendamentos()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="EditarAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Editar Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="EdtNome" class="form-control" placeholder="Nome">

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="EdtEmail" class="form-control" placeholder="Email">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="EdtTel" class="form-control" placeholder="Telefone">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Data do agendamento</label>
                                <input type="date" id="EdtData" class="form-control" placeholder="00/00/0000">

                            </div>

                            <div class="mb-3">
                                <label for="telefone">Horario</label>
                                <input type="text" id="EdtHorario" class="form-control" placeholder="00:00">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Serviço</label>
                                <input type="text" id="EdtHorario" class="form-control" placeholder="Manu">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Valor</label>
                                <input type="text" id="EdtVal" class="form-control" placeholder="R$ 150.00">

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Confirmação</label>
                                <input type="text" id="EdtConf" class="form-control" placeholder="Confirmado">

                            </div>

                            <div class="mb-3">
                                <div class="mb-3 d-flex align-items-center">
                                    <br />
                                    <input type="checkbox" id="chkR" value="08:00" style="margin-right: 10px;">
                                    <label for="chkR">Reagendamento</label>
                                </div>
                            </div>
                            <div id="divCampos" style="border: 2px solid #000; padding: 10px; margin: 10px; display: none;">
                                <div class="mb-3">
                                    <input id="data_a" type="text" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamentoEdt();consultarAgendamentoManutencaoEdt()">
                                </div>
                                <div class="mb-3 d-flex align-items-center">
                                    
                                </div>
                            </div>
                            <input type="hidden" id="IdEdt" class="form-control">
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" onclick="AlterarAgendamento()" class="btn btn-primary">Atualizar</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirAgendamentoM" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80vh;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Adicionar Agendamento de Manutenção</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="hidden" id="TxtIdM" class="form-check-input" value="10:00" style="margin-right: 10px;" disabled>
                            </div>

                            <div class="mb-3">
                                <label for="telefone">Serviço</label>
                               
                            </div>
                            <div class="mb-3">
                                <label for="telefone">Manutenção diponivel para esse serviço</label>
                                
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input id="data_agdtM" type="text" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamentoM();consultarAgendamentoManutencaoM()">
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk08M" class="form-check-input" value="08:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk08">Atendimento das 8:00</label>
                                <span id="Span08M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk10M" class="form-check-input" value="10:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk10">Atendimento das 10:00</label>
                                <span id="Span10M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk13M" class="form-check-input" value="13:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk13">Atendimento das 13:00</label>
                                <span id="Span13M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk15M" class="form-check-input" value="15:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk15">Atendimento das 15:00</label>
                                <span id="Span15M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk17M" class="form-check-input" value="17:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk17">Atendimento das 17:00</label>
                                <span id="Span17M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk19M" class="form-check-input" value="19:00" style="margin-right: 10px;" data-group="horario">
                                <label class="form-check-label" for="chk19">Atendimento das 19:00</label>
                                <span id="Span19M" style="color:red;"></span>
                            </div>

                            <input type="hidden" id="IdEdt" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="InserirAgendamentoManutencao()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>



    </section>

    <!--Butao Voltar-->
    <section class="container text-center">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div>
                <button type="button" id="send-button2" class="nav-link active btn btn-danger btn-block" style="flex: 1; margin-left: 5px;" onclick="window.location.href = '/Home/Index';">
                    Voltar
                </button>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="~/lib/swiper/swiper-bundle.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>

        function definirEdt(id, Nome, Email, Senha, TipoUsuario, Telefone) {

            $('#IdEdt').val(id);
            $('#EditNome').val(Nome);
            $('#EditSenha').val(Senha);
            $('#EditEmail').val(Email);
            $('#EditTel').val(Telefone);


            var senhaValue = "";
            if (Senha) {
                $('#EditSenha').val(Senha);
                senhaValue = Senha;
            }


            if ($('#DropTipoUsuarioEdit').length > 0) {
                $('#DropTipoUsuarioEdit option').filter(function () {
                    return $(this).val() === TipoUsuario;
                }).prop('selected', true);
                $('#DropTipoUsuarioEdit').trigger('chosen:updated');
            } else {
                console.error("DropDownList não encontrado.");
            }
        }

        function definirExc(id, Nome, Email, Telefone) {
            $('#IdExc').val(id);
            $('#ExcNome').val(Nome);
            $('#ExcEmail').val(Email);
            $('#ExcTel').val(Telefone)
        }

        function InserirUsuario() {

            var nome = $('#Nome').val();
            var email = $('#Email').val();
            var senha = $('#Senha').val();
            var telefone = $('#Telefone').val();
            var tipoUsuario = $('#DropTipoUsuario option:selected').val();

            if (nome.trim() === "") {
                alert("Por favor, preencha o campo Nome.");
                return;
            }
            if (senha.trim() === "") {
                alert("Por favor, preencha o campo Senha.");
                return;
            }
            if (email.trim() === "") {
                alert("Por favor, insira um email válido.");
                return;
            }

            if (tipoUsuario === "Escolha o Tipo de Usuário") {
                alert("Por favor, selecione o tipo de usuário.");
                return;
            }

            if (telefone.trim() === "") {
                alert("Por favor, insira um número de telefone válido.");
                return;
            }



            var dados = {
                Nome: nome,
                Email: email,
                Senha: senha,
                Telefone: telefone,
                TipoUsuario: tipoUsuario
            };

            // Faça a chamada AJAX
            $.ajax({
                url: '/Usuario/InserirUsuario',
                type: "POST",
                dataType: "json",
                data: dados,
                success: function (resultado) {
                    if (resultado.success) {
                        alert(resultado.message);  // Exibe a mensagem de sucesso
                        // Fecha o modal
                        $('#InserirUsuario').modal('hide');
                        // Recarrega a págInserirUsuarioina
                        location.reload();
                    } else {
                        alert(resultado.message);  // Exibe a mensagem de falha
                    }
                },
                error: function () {
                    alert('Erro na requisição AJAX.');
                }
            });
        }

        function AlterarUsuario() {
            var id = $("#IdEdt").val();
            var nome = $("#EditNome").val();
            var senha = $("#EditSenha").val();
            var email = $("#EditEmail").val();
            var tel = $('#EditTel').val();
            var tipoCli = $('#DropTipoUsuarioEdit').val(); // Obtém o valor do tipo de cliente, não apenas o texto

            // Validação do campo 'Nome'
            if (!nome) {
                alert("Por favor, preencha o campo Nome.");
                return;
            }

            // Validação do campo 'Senha'
            if (!senha) {
                alert("Por favor, preencha o campo Senha.");
                return;
            }

            // Validação do campo 'Email'
            if (!email) {
                alert("Por favor, preencha o campo Email.");
                return;
            }

            // Validação do campo 'Telefone'
            if (!tel) {
                alert("Por favor, preencha o campo Telefone.");
                return;
            }

            // Validação do campo 'Tipo de Cliente'
            if (!tipoCli) {
                alert("Por favor, selecione o Tipo de Cliente.");
                return;
            }

            // Crie um objeto com os dados
            var dados = {
                Id: id,
                Nome: nome,
                Senha: senha,
                Email: email,
                Telefone: tel,
                TipoUsuario: tipoCli
            };

            // Faça a chamada AJAX para o servidor
            $.ajax({
                type: "POST",
                url: "/Usuario/AlterarUsuario",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dados),
                success: function (response) {
                    // Manipule a resposta do servidor
                    if (response.success) {
                        alert("Cliente alterado com sucesso!");
                        // Feche o modal de edição se necessário
                        $('#FormEditar').modal('hide');
                        // Recarregue a página se necessário
                        location.reload();
                    } else {
                        alert("Falha ao alterar cliente.");
                    }
                },
                error: function (error) {
                    // Manipule erros de requisição AJAX
                    console.error("Erro na chamada AJAX:", error);
                }
            });
        }

        function ExcluirUsuario() {
            // Obtenha o ID do usuário a ser excluído
            var userId = $('#IdExc').val();

            // Faça uma requisição AJAX
            $.ajax({
                type: "POST",
                url: "/Usuario/ExcluirUsuario", // Substitua "Usuario" pelo nome do seu controller
                data: { id: userId },
                dataType: "json",
                success: function (response) {
                    // A resposta do servidor está em response.success
                    if (response.success) {
                        // Feche o modal de exclusão
                        $('#ExcluirUsuario').modal('hide');
                        alert("Cliente excluido com sucesso!");

                        // Recarregue a página
                        location.reload();
                    } else {
                        alert("Falha ao excluir usuário.");
                    }
                },
                error: function () {
                    alert("Erro na requisição AJAX.");
                }
            });
        }



    </script>
</body>
