﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- bibliotecas -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/login.css">

    <title>Login Page</title>
</head>

<body>
    <div id="custom_container" class="custom_container">
        <div class="tab-content">
            <h1 class="custom_logo"><a href="/Home/Index"><img src="~/images/Logo/Logo.png" alt="Távila Victória Logo" style="width: 100px; height:100px"></a></h1>
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab-register" href="/Usuario/Login" role="tab"
                       aria-controls="pills-register" aria-selected="false">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab-login" data-toggle="pill" href="#pills-login" role="tab"
                       aria-controls="pills-login" aria-selected="true">Cadastrar</a>
                </li>
            </ul>
            <!-- Pills navs -->
            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form>
                        <div class="text-center mb-3">
                            <a href="https://www.facebook.com">
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>
                            </a>
                            <a href="https://www.google.com">
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>
                            </a>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="loginNome" class="form-control" placeholder="Digite seu Nome"
                                   required />
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="loginEmail" class="form-control" placeholder="Digite seu Email"
                                   required />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="loginPassword" class="form-control" required
                                   placeholder="Digite sua senha" />
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="loginTelefone" class="form-control" placeholder="Digite seu Telefone"
                                   required />
                        </div>

                        <!-- Submit button -->
                        <div style="display: flex; justify-content: space-between;">
                            <button type="button" id="send-button1" class="nav-link active btn btn-primary btn-block" style="flex: 1; margin-right: 5px;" onclick="InserirUsuario()">Cadastrar</button>
                            <button type="button" id="send-button2" class="nav-link active btn btn-primary btn-block" style="flex: 1; margin-left: 5px;" onclick="window.location.href = '/Home/Index';">Voltar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Adiciona o SweetAlert2 -->
<script>
    function InserirUsuario() {
        // Obtenha os valores dos controles HTML
        var nome = $('#loginNome').val();
        var email = $('#loginEmail').val();
        var senha = $('#loginPassword').val();
        var telefone = $('#loginTelefone').val();
        var tipoUsuario = true;

        // Validar os campos obrigatórios
        if (nome.trim() === '') {
            Swal.fire('Erro', 'O campo Nome é obrigatório.', 'error');  // SweetAlert2
            return; // Impede o envio do formulário
        }

        if (email.trim() === '') {
            Swal.fire('Erro', 'O campo E-mail é obrigatório.', 'error');
            return;
        }


        if (senha.trim() === '') {
            Swal.fire('Erro', 'O campo Senha é obrigatório.', 'error');
            return;
        }

        if (telefone.trim() === '') {
            Swal.fire('Erro', 'O campo Telefone é obrigatório.', 'error');
            return;
        }

        // Validação de formato de telefone (exemplo simples para número de 10 dígitos)
        var telefoneRegex = /^\d{10}$/;
        if (!telefoneRegex.test(telefone)) {
            Swal.fire('Erro', 'Por favor, insira um número de telefone válido (10 dígitos).', 'error');
            return;
        }

        // Show the overlay and loader
         $("#overlay").show();  // Exibir o overlay escuro
         $("#loader").show();   // Exibir o loader

        // Crie um objeto de usuário para enviar
        var dados = {
            Nome: nome,
            Email: email,
            Senha: senha,
            Telefone: telefone,
            TipoUsuario: tipoUsuario ? true : false
        };

        // Faça a chamada AJAX
        $.ajax({
            url: '/Usuario/InserirUsuario',
            type: "POST",
            dataType: "json",
            data: dados,
            success: function (resultado) {

                 // Hide the overlay and loader after the response
                    $("#overlay").hide();
                    $("#loader").hide();

                if (resultado.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Sucesso',
                        text: 'Usuário cadastrado com sucesso!',
                        confirmButtonText: 'OK'
                    }).then(function () {
                        window.location.href = "/Usuario/Login"; // Redireciona após o clique no botão OK
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: resultado.message,
                        confirmButtonText: 'OK'
                    });
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: 'Erro na requisição AJAX.',
                    confirmButtonText: 'OK'
                });
            }
        });


    }
</script>

</html>